.display-contect{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 45px;

    width: auto;
    height: auto;

}
.contect{
    box-sizing: border-box;

    width: 484px;
    height: 408px;
    left: 57px;
    top: 181px;


    border: 1px solid #5F9DF7;
    filter: drop-shadow(1px 4px 4px #5F9DF7);
    border-radius: 54px;
}