.registerScreen {
    overflow: hidden;
    overflow-y: hidden;
}

.div-register-blue {
    position: relative;
    width: 515px;
    height: 100vh;
    float: left;
    left: -20px;
    top: -75px;
    background: #5f9df7;
    border-radius: 94px;
}

.div-register-blackblue {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 492px;
    height: 456px;
    float: right;
    left: 20px;
    top: 347px;
    background: #1746A2;
    border-radius: 94px;
}

.form-register {
    margin-top: 5px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 492px;
    height: 456px;
}

.input-register {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button-register {
    margin: 30px;
    width: 165px;
    height: 75px;
    left: 267px;
    top: 416px;
    background: #FF731D;
    border-radius: 30px;
}

.button-register:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container-register {
    margin-top: 95px;
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
